<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>New Blog Post</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% if (validationErrors && validationErrors.length > 0) { %>
      <ul class="list-group">
        <% for (var i = 0; i < validationErrors.length; i++) { %>
        <li class="list-group-item list-group-item-danger">
          <%= validationErrors[i] %>
        </li>
        <% } %>
      </ul>
      <% } %>
      <form action="/post/store" method="POST" enctype="multipart/form-data">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="title">Title</label>
            <input
              class="form-control"
              type="text"
              name="title"
              value="<%= blogPost.title %>"
              id="title"
              placeholder="Title"
            />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="body">Description</label>
            <textarea class="form-control" name="body" id="body" rows="5">
                <%= blogPost.body %>
              </textarea
            >
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group-controls">
            <label for="image">Image</label>
            <input class="form-control" type="file" name="image" id="image" />
          </div>
        </div>
        <br />
        <div class="form-group">
          <button class="btn btn-primary" id="sendMessage" type="submit">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include("../partials/postEditorRes.ejs") %>
